span.subtitle {
  padding-left: 0px;
}

.hidden {
  display: none;
}

.contrib-config-table-wrapper {
	
}

.contrib-archive-wrapper {
  margin-top:20px;
}

.single-money-bar {
  width:120px;
  height:12px;
  border:1px solid #777;
  margin-right:8px;
  
  display: inline-block;
}

.single-money-span, 
.single-money-bar {
  vertical-align: middle;
}

.single-money-progress {
  height:100%;
  background-color: #BDD78D;
}

.single-table img.hot-icon {
  margin-right:2px;
  vertical-align: middle;
  
  -webkit-animation: pulse 0.5s linear 0s infinite alternate;
  -moz-animation: pulse 0.5s linear 0s infinite alternate;
  -ms-animation: pulse 0.5s linear 0s infinite alternate;
  -o-animation: pulse 0.5s linear 0s infinite alternate;
  animation: pulse 0.5s linear 0s infinite alternate;
}

.balance-cards {
	height: 350px;
	margin-bottom: 25px;
}

.half-height {
	height: 50%;
}

.full-height {
	height: 100%;
}

.title-square {
  padding:20px; 
  padding-bottom:0;
}

.float-square {
  display:block;
  margin:0;

  padding: 10px;
}

.full-square {
  padding:20px;
  display:block;
  background-color: #EEE;
  border-top:1px solid #999;
  border-bottom:1px solid #999;
}

.float-stats {
  display:block;
  
  border:1px solid #DDD;
  
  vertical-align:top;
  background-color: #FFF;

  position:relative;

  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
      -ms-border-radius: 5px;
       -o-border-radius: 5px;
          border-radius: 5px;
}

.float-stats .stats-img-header,
.normal-stats .stats-img-header {
  display:inline-block;
  vertical-align: top;
  
  height:24px;
}

.wrap .float-stats h2,
.wrap .normal-stats h2 {
  display:block;
  vertical-align: bottom;
  
  margin:0;

  padding: 20px;
  background-color: #F9F9F9;
  border-bottom: 1px solid #EEE;
  
  padding-top:10px;
  padding-bottom: 10px;

  font-family: "Oswald", lane_-_narrowregular, Helvetica, Drois Sans, Arial;
  font-size: 24px;
  
  color: #333;
}

.wrap .float-stats p,
.wrap .normal-stats p {
  padding-left: 20px;
  padding-right: 20px;

  text-align: justify;
}

.half-col-rect {
	float:left;
	width: 50%;
}

.float-stats .big-stats-num,
.normal-stats .big-stats-num {
  font-family: Droid Sans, Arial;
  font-size:50px;
  font-weight: 100;

  display:block;
  
  text-align: right;
  
  color: #000;
  margin:0;
  padding:0;

  position:absolute;
  right: 0px;
  bottom: 0px;

  opacity:0;
  
  -webkit-transform: translateX(-100px);
     -moz-transform: translateX(-100px);
      -ms-transform: translateX(-100px);
       -o-transform: translateX(-100px);
	  	  transform: translateX(-100px);
	  
  -webkit-transition: all 1.2s;
     -moz-transition: all 1.2s;
      -ms-transition: all 1.2s;
       -o-transition: all 1.2s;
	  	  transition: all 1.2s;
}

.float-stats .big-stats-num.last-14-days-live {
  position:relative;

  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;

  font-size: 70px;
  text-align: center;

  right: 0;
  bottom:0;
}

.float-stats .big-stats-num.shown,
.normal-stats .big-stats-num.shown {
  opacity:1;
  
  -webkit-transform: translateX(0px);
     -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
       -o-transform: translateX(0px);
	  transform: translateX(0px);   
}

@-webkit-keyframes pulse {0%{-webkit-transform: scale(1.0);}50%{-webkit-transform: scale(1.1);}100% {-webkit-transform: scale(1.0);}}
@-moz-keyframes pulse {0%{-moz-transform: scale(1.0);}50%{-moz-transform: scale(1.1);}100% {-moz-transform: scale(1.0);}}
@-ms-keyframes pulse {0%{-ms-transform: scale(1.0);}50%{-ms-transform: scale(1.1);}100% {-ms-transform: scale(1.0);}}
@-o-keyframes pulse {0%{-o-transform: scale(1.0);}50%{-o-transform: scale(1.1);}100% {-o-transform: scale(1.0);}}
@keyframes pulse {0%{transform: scale(1.0);}50%{transform: scale(1.1);}100% {transform: scale(1.0);}} 

@media all and (max-width: 650px) {
	.half-col-rect {
		width: auto;
		float: none;

		clear: both;
	}

	.full-height {
		height: auto;
	}

	.balance-cards {
		height: auto;
	}

	.float-square {
		padding:0;
		margin:0;

		margin-bottom: 10px;
	}

	.float-stats .big-stats-num.last-14-days-live {
		margin-top: 0;
	}	

	.wrap .float-stats .big-stats-num {
		position:relative;

		bottom:0;
		right: 0;

		margin-left:auto;
		margin-right: auto;

		display: block;
	
		text-align: center;
	}
}
